name: ScanDog Security Scanner

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  scandog_opengrep_sast:
  runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Opengrep
        run: |
          apt-get update && apt-get install -y curl jq
          latest_version=$(curl --silent "https://api.github.com/repos/opengrep/opengrep/releases/latest" | jq -r .tag_name)
          curl -L -o opengrep "https://github.com/opengrep/opengrep/releases/download/${latest_version}/opengrep_manylinux_x86"
          chmod +x opengrep
          mv opengrep /usr/local/bin/opengrep
      - name: Run Opengrep
        run: |
          opengrep scan --config auto --json-output=opengrep.json .
      - name: Import results to ScanDog
        uses: scandogio/scandog-import@v1.1
        with:
          endpoint_type: "import"
          ci_run_id: ${{ github.run_id }}
          report_file: opengrep.json
          workflow_id: 622b4ff3c93d482c4276a44840331538
          scan_type: SAST
          scanner: opengrep
          scandog_token: ${{ secrets.SCANDOG_TOKEN }}
          scandog_url: ${{ vars.SCANDOG_URL }}