name: ScanDog Security Scanner

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  scandog_sonarcloud_sast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: 576d7d8c5dabf776076e5b87ab70402ba021eeee576d7d8c5dabf776076e5b87ab70402ba021eeee
      - name: Import results to ScanDog
        uses: scandogio/scandog-import@v1.1
        with:
          endpoint_type: "import"
          ci_run_id: ${{ github.run_id }}
          report_file: 
          workflow_id: 1246e00fbb1b48cfe6a0c60dc3f25028
          scan_type: SAST
          scanner: SonarQube
          scandog_token: ${{ secrets.SCANDOG_TOKEN }}
          scandog_url: ${{ vars.SCANDOG_URL }}