name: ScanDog Security Scanner

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  
    scandog_trivy_container_scan:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
  
        # Container registry authentication (configured via ScanDog settings)
  
        - name: Trivy vulnerability scanner
          uses: aquasecurity/trivy-action@0.28.0
          with:
            image-ref: 
            format: 'json'
            scanners: 'vuln'
            output: 'trivy-results.json'
  
        - name: Upload Trivy scan results
          uses: actions/upload-artifact@v4
          with:

            name: trivy-report
            path: trivy-results.json
  
        - name: Import results to ScanDog
          uses: scandogio/scandog-import@v1.1
          with:
            endpoint_type: "import"
            ci_run_id: ${{ github.run_id }}
            report_file: trivy-results.json
            workflow_id: 
            scan_type: Container Scanner
            scanner: Trivy
            scandog_token: ${{ secrets.SCANDOG_TOKEN }}
            scandog_url: ${{ vars.SCANDOG_URL }}
  